.columns > div {
  display: flex;
  flex-direction: column;
}

.columns img {
  width: 100%;
}

.columns > div > div {
  order: 1;
}

.columns > div > .columns-img-col {
  order: 0;
}

.columns > div > .columns-img-col img {
  display: block;
}

@media (width >= 900px) {
  .columns > div {
    align-items: center;
    flex-direction: unset;
    gap: 32px;
  }

  .columns > div > div {
    flex: 1;
    order: unset;
  }
  .columns.godrej-columns > div{
    flex-direction: column;
  }
}

.columns.godrej-columns{
  display: flex;
  flex-direction: row;
  gap: 20px;
}

.columns.godrej-columns div{
  max-width: 350px;
  background-color: white;
  border-radius: 10px;
}

.columns.godrej-columns .card-block .columns-img-col{
  max-height: 160px;
}

.columns.godrej-columns .card-block :nth-child(2){
  max-height: 85px;
}
