.columns>div {
  display: flex;
  flex-direction: column;
}

.columns img {
  width: 100%;
}

.columns>div>div {
  order: 1;
}

.columns>div>.columns-img-col {
  order: 0;
}

.columns>div>.columns-img-col img {
  display: block;
}

.columns.godrej-columns .card-block {
  flex-direction: column;
  gap: 0px;
  max-width: 350px;
  height: 100%;
  min-height: 1px;
  outline: 0;
  padding: 0 8px;
  margin-bottom: 60px;
  background-color: white;
  border: 2px solid #EDEDED;
  border-radius: 10px;
  cursor: pointer;
}

@media (width >=900px) {
  .columns>div {
    align-items: center;
    flex-direction: unset;
    gap: 32px;
  }

  .columns>div>div {
    flex: 1;
    order: unset;
  }

  .columns.godrej-columns .card-block {
    flex-direction: column;
    margin: 8px;
  }
}

.columns.godrej-columns {
  display: flex;
  flex-direction: row;
  gap: 0px;
}


.columns.godrej-columns .card-block:hover {
  text-decoration: none;
  transition: all .4s cubic-bezier(.25, .74, .22, .99);
  border-color: transparent;
}

.columns.godrej-columns .card-block:hover::after {
  -webkit-box-shadow: 0 25px 35px rgba(0, 0, 0, .45);
  -moz-box-shadow: 0 25px 35px rgba(0, 0, 0, .45);
  -ms-box-shadow: 0 25px 35px rgba(0, 0, 0, .45);
  -o-box-shadow: 0 25px 35px rgba(0, 0, 0, .45);
  box-shadow: 0 25px 35px rgba(0, 0, 0, .45);
}


.columns.godrej-columns .card-block :nth-child(2) {
  color: #273043;
  text-overflow: ellipsis;
  overflow: hidden;
  display: -moz-box;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -moz-box-orient: vertical;
  font-size: 18px;
  font-weight: 500;
  line-height: 1.2;
  padding: 20px 30px;
}

.columns.godrej-columns img {
  height: 160px;
  width: 340px;
  object-fit: cover;
}

.blog .columns-wrapper{
  margin-top: 20px;
}