.blog main {
  padding-left: 8%;
  padding-right: 8%;
  padding-top: 70px;
  background-color: #EDEFF4;
  font-family: 'Work Sans', sans-serif;
  font-weight: 400;
  font-style: normal;
  letter-spacing: -.4px;
  color: rgba(0, 0, 0, .6);
}

.section.blog-container {
  background-color: white;
  padding: 60px 130px;
  border-radius: 10px;
}

.section.top-margin {
  margin-top: 100px;
}

.godrej-block.published-date .godrej-container .content {
  font-weight: 400;
  letter-spacing: normal;
  font-size: 10px;
  margin-bottom: 25px;
  opacity: 1;
  color: #00000099 !important;
  text-transform: capitalize !important;
}

.godrej-block.blog-heading .godrej-container .content h1 {
  color: #000;
  margin-bottom: 30px;
  text-align: left;
  font-size: 30px;
  font-weight: 300;
  font-family: 'Work Sans', sans-serif;
  line-height: normal;
}

.godrej-block.quote-text .godrej-container .content em {
  font-size: 16px;
  color: rgba(0, 0, 0, 0.87);
  line-height: 1.5;
  text-align: left;
  margin-bottom: 20px;
  font-family: 'Work Sans', sans-serif;
}

.godrej-block.blog-text .godrej-container .content p {
  width: 100%;
  float: left;
  font-size: 16px;
  color: rgba(0, 0, 0, 0.87);
  line-height: 24px;
  letter-spacing: -0.4px;
  text-align: left;
  margin-bottom: 20px;
  font-family: 'Work Sans', sans-serif;
  font-weight: 400;
  font-style: normal;
}

.godrej-block.blog-text .godrej-container .content p {
  text-decoration: none;
  color: #AD1E56;
  word-break: break-all;
}

.godrej-block {
  margin-bottom: 20px;
}

.columns-wrapper.godrej-columns .columns {
  display: flex;
}